*target/**
*/target/**

*nb-configuration.xml
*/nb-configuration.xml

*nbactions.xml
*/nbactions.xml

*.project
*/.project

*.classpath
*/.classpath

*.settings/**
*/.settings/**

*.mvn/**
*/.mvn/**

*derby.log
*/derby.log

*mvnw*
*/mvnw*
