<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Alta Vehículo</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/> 
    </head>
    <body onload="document.getElementById('registro').style.display='block'">
        <div id="registro" class = "w3-modal">
            <div class="w3-modal-content">
                <form class="w3-container" method="POST" th:object="${vehiculo}">
                    <label class="w3-text-teal">Modelo</label>
                    <input class="w3-input" type="text" th:field="*{modelo}"/>

                    <label class="w3-text-teal">Motor</label>
                    <input class="w3-input" type="text" th:field="*{motor}"/>

                    <label class="w3-text-teal">Color</label>
                    <input class="w3-input" type="text" th:field="*{color}"/>

                    <label class="w3-text-teal">Precio</label>
                    <input class="w3-input" type="number" th:field="*{precio}"/>

                    <label class="w3-text-teal">Descripción</label>
                    <textarea class="w3-input" th:field="*{descripcion}"></textarea>

                    <input type="submit" class="w3-btn w3-blue-grey" name="Registrar Vehículo"/>
                </form>
            </div>
        </div>
    </body>
</html>
