<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Concesionario - Lista Pedidos</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/> 
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    </head>
    <body>
        <div class = "w3-container w3-section">
            <table class="w3-table-all w3-hoverable w3-card-4">
                <thead>
                    <tr class="w3-teal">
                        <th>Cliente</th>
                        <th>Comercial</th>
                        <th>Estado</th>
                        <th>Fecha</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Itera la variable lista, cada objeto se llama ped -->
                    <th:block th:each="ped : ${lista}">
                        <tr>
                            <!-- th:text pone dentro de la etiqueta el valor que tenga la variable, sobreescribe lo que hubiera
                                en th:onclick va el texto como cadena entre comillas simples y las variables fuera -->
                            <td class="w3-button" th:text="${ped.cliente.nombre}" th:onclick="|javascript:location.href = '../cliente/${ped.cliente?.id}';|"/>
                            <td class="w3-button" th:text="${ped.comercial.nombre}" th:onclick="|javascript:location.href = '../comercial/${ped.comercial?.id}';|"/>
                            <td class="w3-button" th:text="${ped.estado}" th:onclick="|javascript:location.href = '${ped.id}';|"/>
                            <td class="w3-button" th:text="${ped.fecha}" th:onclick="|javascript:location.href = '${ped.id}';|"/>
                            <td th:if="${ped.factura != null}">
                                <i class="material-icons w3-text-teal w3-left w3-margin-right w3-button" th:onclick="|javascript:location.href = '../factura/${ped.factura?.id}';|">description</i>
                            </td>
                            <td th:if="${ped.factura == null}">
                                <i class="material-icons w3-text-teal w3-left w3-margin-right w3-button" th:onclick="|javascript:location.href = 'recepcion/${ped.id}';|">note_add</i>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
        <div class='w3-container w3-section'>
            <div class="w3-display-container w3-section">
                <button class="w3-btn w3-blue-grey w3-display-left" onclick="javascript:location.href = '../inicio'">Volver</button>
                <i class="material-icons w3-btn w3-circle w3-blue-grey w3-display-right" th:onclick="'document.getElementById(\'registro\').style.display = \'block\''">add</i>
            </div>
        </div>
        <div id="registro" class = "w3-modal">
            <div class="w3-modal-content w3-padding-large w3-card-4">
                <form class="w3-container" method="POST" th:object="${pedido}" action="alta">
                    <i class="material-icons w3-text-red w3-display-topright w3-button" th:onclick="'document.getElementById(\'registro\').style.display = \'none\''">clear</i>

                    <label class="w3-text-teal">Cliente</label>
                    <select class="w3-select" th:field="*{cliente}">
                        <option value="-1"/>
                        <option th:each="c : ${clientes}" th:value="${c.id}" th:text="${c.nombre}"/>
                    </select>

                    <label class="w3-text-teal">Comercial</label>
                    <select class="w3-select" th:field="*{comercial}">
                        <option value="-1"/>
                        <option th:each="c : ${comerciales}" th:value="${c.id}" th:text="${c.nombre}"/>
                    </select>

                    <label class="w3-text-teal">Vehiculos</label>
                    <select multiple="true" class="w3-select" th:field="*{vehiculos}">
                        <option th:each="v : ${vehi}" th:value="${v.id}" th:text="|${v.modelo} - ${v.motor} (${v.color})|"/>
                    </select>

                    <input type="submit" class="w3-btn w3-blue-grey w3-margin-top" value="Guardar"/>
                </form>
            </div>
        </div>
    </body>
</html>
